@media (max-width: 1400px) {
  .Explore-sidebar-container {
    display: none;
  }
}
.Explore {
  position: absolute;
  background-color: rgb(53, 70, 92);
  height: 100vh;
  width: 100vw;
}
.Explore-l .Explore-link {
  color: #61dafb;
}
.Explore-content {
  display: flex;
  height: auto;
}
.Explore-cards-container {
  width: 100%;
  height: auto;
}
.Explore-sidebar-container {
  width: 30vw;
  height: auto;
}
.Explore-trending-cards {
  display: flex;
  gap: 5em;
  width: 100%;
  overflow-x: scroll;
}
.Explore-trend-card {
  height: 200px;
  min-width: 150px;
  background-color: red;
  border-radius: 10px;
}
.Explore-featured {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  grid-template-columns: 300px 300px;
  border: 1px solid purple;
}
.Explore-featured-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 10em;
  flex: 1;
  height: auto;
  border: 1px solid blue;
}
.Explore-featured-card {
  min-width: 20em;
  min-height: 40em;
  flex-basis: 100%;
  background-color: #61dafb;
  outline: 1px solid green;
  margin: 0 10px 30px 10px;
}
@media (max-width: 900px) {
  .Explore-featured {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-template-columns: 300px 300px;
    border: 1px solid green;
  }
  .Explore-featured-column {
    height: 100%;
    min-width: 50em;
    display: flex;
    width: 100%;
  }
  .Explore-featured-card {
    min-width: 40em;
    min-height: 60em;
    flex-basis: 100%;
    background-color: #61dafb;
    outline: 1px solid green;
  }
}
