body {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}
a:visited {
  color: #61dafb;
  text-decoration: none;
}
.Explore {
  position: absolute;
  background-color: rgb(0, 25, 53);
  height: auto;
  width: 100vw;
}
.Explore-l .Explore-link {
  color: #61dafb;
  text-decoration: none;
}
.Explore-content {
  display: flex;
  height: auto;
  outline: 1px solid rgba(255, 255, 255, 0.13);
}
.Explore-trending-title {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.5em;
  margin-bottom: 10px;
}
.Explore-cards-container {
  width: 100%;
  margin: 2% 0% 2% 0%;
}
.Explore-sidebar-container {
  color: white;
  width: 70vw;
  height: auto;
  outline: 1px solid rgba(255, 255, 255, 0.13);
  padding: 1%;
  margin-left: 25px;
}
.Explore-trending-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Explore-trending-cards {
  display: flex;
  overflow-x: scroll;
  margin-left: auto;
  gap: 1.5em;
  max-width: 540px;
  margin-bottom: 2%;
}
.Explore-trend-card {
  height: 170px;
  min-width: 140px;
  background-color: red;
  color: white;
  border-radius: 5px;
}
.Explore-trend-hashtag-info {
  float: left;
  width: 50%;
  margin-top: 10px;
  margin-left: 10px;
}
.Explore-trend-hashtag-number {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: purple;
  color: white;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  margin-right: 5px;
  float: left;
}
.Explore-trend-hashtag-headline {
  width: 100%;
  height: 100%;
  margin-left: 20px;
  line-height: 1.75;
}
.Explore-trend-hashtag-image-container {
  height: 100%;
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.Explore-trend-hashtag-image {
  width: 64px;
  height: 64px;
  float: right;
}
.Explore-trend-follow-button {
  display: block;
  width: 100%;
  border: none;
  height: 40px;
  width: 121px;
  margin: 5px 10px 10px 10px;
  cursor: pointer;
}
.Explore-featured {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-direction: row;
}
.Explore-featured-card {
  min-width: 300px;
  min-height: 572px;
  flex-basis: 100%;
  background-color: #61dafb;
  outline: 2px solid black;
  display: flex;
}
#hashtag-trend-one {
  background-color: rgba(232, 215, 56, 0.5);
}
#hashtag-trend-one-number {
  background-color: rgb(232, 215, 56);
  color: rgb(29, 29, 29);
}
#hashtag-trend-two {
  background-color: rgba(255, 138, 0, 0.5);
}
#hashtag-trend-two-number {
  background-color: rgba(255, 138, 0);
  color: rgb(29, 29, 29);
}
#hashtag-trend-three {
  background-color: rgba(255, 73, 48, 0.5);
}
#hashtag-trend-three-number {
  background-color: rgb(255, 73, 48);
  color: rgb(29, 29, 29);
}
#hashtag-trend-four {
  background-color: rgba(124, 92, 255, 0.5);
}
#hashtag-trend-four-number {
  background-color: rgba(124, 92, 255);
  color: rgb(29, 29, 29);
}
.sidebar-container {
  background-color: rgba(255, 255, 255, 0.07);
}
.featured-profile {
  display: flex;
  color: white;
}
.featured-profile > span {
  font-weight: 300;
}
.Explore-sidebar-container-headline {
  font-size: 1.3rem;
  border-bottom: 2px solid gray;
}
.load-more-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sidebar-footer {
  bottom: 0;
  margin-bottom: 10px;
  position: fixed;
}
@media (max-width: 983px) {
  .Explore-sidebar-container {
    display: none;
  }
  .Explore-featured {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: 300px;
  }
  .Explore-featured-card {
    min-width: 40em;
    min-height: 60em;
    flex-basis: 100%;
    background-color: #61dafb;
  }
  .Explore-trending-cards {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3%;
    max-width: none;
  }
  .Explore-trend-card {
    height: 88px;
    min-width: 300px;
    flex-basis: 90%;
  }
}
