.Header {
  display: flex;
  height: 60px;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Header-logo-container {
  display: flex;
  height: 100%;
  align-items: center;
}
.Header-logo {
  max-width: 60px;
}
.Header-container {
  display: flex;
  height: 100%;
  align-items: center;
}
.Header-search {
  display: flex;
  align-items: center;
  border: 0;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.Header-search:focus {
  outline: 0;
}
.Header-search-container {
  display: flex;
  max-width: 15em;
  height: 20px;
  border-radius: 20px;
  background-color: #eee;
  display: inline-block;
  padding: 10px;
}
.Navbar {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
}
.Navbar-icon-container {
  display: flex;
  margin-right: 15px;
  gap: 1em;
}
.Navbar-icon {
  max-width: 25px;
}
.navbar-icon-button {
  background: none;
  border-style: none;
  cursor: pointer;
}
.submit-post-button {
  background: cyan;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}
.sign-in-buttons {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
}
.sign-in-buttons > button {
  color: #000000;
  border: none;
  width: 76px;
  height: 35px;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 3px;
  margin-right: 10px;
  line-height: 1.5;
  cursor: pointer;
}
#log-in-button {
  background-color: #00cf35;
}
#sign-up-button {
  background-color: #00b8ff;
}
.header-loading-icon-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: center;
  width: 100%;
}
.header-loading-icon {
  width: 50px;
  animation-duration: 1000ms;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-transition: rotate(3600deg);
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.sign-out-modal-container {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.sign-out-modal {
  display: none;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  background-color: white;
  background-color: rgb(124, 92, 255);
  border-radius: 6px;
  color: white;
}
.sign-out-modal > h2 {
  font-size: 1.5rem;
}
.sign-out-buttons {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 125px;
  margin-top: 15px;
  gap: 10px;
}
.sign-out-buttons > button {
  border-style: none;
  border-radius: 5px;
  height: 30px;
  min-width: 30px;
  cursor: pointer;
  background-color: white;
  font-weight: 700;
}
#take-me-back-button {
  font-size: 1.1rem;
  width: 200px;
  border-radius: 100px;
}
#sign-out-button {
  font-size: 0.6rem;
  width: 95px;
  border-radius: 47px;
}
