.login-modal-container {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(40, 40, 40, 0.5);
}
.login-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(124, 92, 255);
  border-radius: 6px;
  color: white;
  width: 600px;
  height: 400px;
  font-size: 1rem;
  padding: 20px;
  overflow: hidden;
}
.login-modal-logo {
  width: 200px;
  margin-bottom: 40px;
}
.login-modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.login-content {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.login-modal-subcopy {
  margin-bottom: 40px;
}
.modal-cta {
  margin-bottom: 10px;
  font-size: 1.125rem;
}
.modal-disclaimer {
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
  font-size: 0.875rem;
  width: 50%;
}
.modal-disclaimer > a {
  color: white;
}
.login-modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 10px;
  width: 330px;
  height: 48px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.modal-button-icon {
  width: 23px;
  margin-right: 10px;
}
.modal-open {
  overflow: hidden;
  position: fixed;
}
#emailPrompt {
  position: absolute;
  display: none;
  height: auto;
}
.login-form-label {
  font-size: 1.125rem;
  margin-bottom: 10px;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-form > input {
  margin-bottom: 20px;
  line-height: 2.5;
  width: 300px;
}
#login-verify-password-form {
  display: none;
}
#login-set-password-form {
  display: none;
}
.login-error-message {
  color: rgb(255, 0, 0);
  font-size: 0.95rem;
  margin-bottom: 20px;
  display: none;
}
.login-modal-submit-button {
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 50%;
}
.login-modal-submit-button > img {
  width: 50px;
}
