body {
  background-color: rgb(0, 25, 53);
}

.profile-page {
  position: absolute;
  background-color: rgb(0, 25, 53);
  height: auto;
  width: 100vw;
}
.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 25, 53);
  height: auto;
  margin-top: 15px;
  width: 100vw;
}
.profile-card-column {
  width: 540px;
  height: auto;
}
.content-card {
  background-color: #ffffff;
  width: 540px;
  min-height: auto;
  max-height: 1100px;
  border-radius: 5px;
}
.content-card-header {
  display: flex;
  flex-direction: row;
}
.profile-picture {
  width: 35px;
  height: 35px;
  object-fit: cover;
  margin-right: 10px;
}
.content-card-header-profile-info {
  display: flex;
  align-items: center;
  margin: 10px;
  width: 100%;
}
.content-card-header-profile-info-ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  margin-right: 20px;
}
.content-card-image-container {
  width: 100%;
  object-fit: cover;
}

.content-card-image {
  width: 100%;
  object-fit: cover;
  max-height: 645px;
}
.content-card-caption,
.content-card-title {
  margin: 15px;
}
.content-card-title {
  font-size: 1.5rem;
  font-weight: 700;
}
.content-card-hashtags {
  color: gray;
  font-weight: 400;
  margin: 15px 15px 0 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.content-card-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
  color: gray;
  width: 100%;
  height: 50px;
  margin: 15px;
  margin-bottom: 20px;
}
.content-card-notes {
  width: 100%;
}
.content-card-footer-icon-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  display: flex;
  width: 100%;
  margin: 40px;
}
.content-card-footer-icon {
  float: right;
  width: 25px;
  margin: 10px;
  background-color: #61dafb;
  border-radius: 20%;
  padding: 3px;
  cursor: pointer;
}
.load-more-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-bottom: 25px;
}
.load-more-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: none;
  width: 150px;
  height: 50px;
  cursor: pointer;
}
.content-card-comment-section {
  display: none;
  flex-direction: column;
  max-height: 175px;
  overflow-y: scroll;
  width: 97%;
  margin: 15px;
  scrollbar-width: thin;
  padding-bottom: 10px;
}
.content-card-comment {
  display: flex;
  width: 95%;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
  font-weight: 400;
}
.content-card-comment-input,
.content-card-comment-caption {
  display: flex;
  align-items: center;
  outline: 1px solid gray;
  width: auto;
  height: 100%;
  border-radius: 20px;
  padding: 10px;
}
.content-card-comment-input {
  border: none;
  width: 100%;
  outline: none;
}
.content-card-comment-input-container {
  display: flex;
  align-items: center;
  outline: 1px solid gray;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 10px;
}
.content-card-comment-reply-button {
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 600;
  cursor: not-allowed;
  color: gray;
}
textarea {
  resize: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.load-more-comments-button {
  display: flex;
  justify-content: center;
  width: 100%;
}
.load-more-comments-button > button {
  background: none;
  border: none;
  cursor: pointer;
  color: gray;
}
.comments-loading-icon {
  width: 50px;
  animation-duration: 1000ms;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-transition: rotate(3600deg);
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
